<div class="dropdown">
  <label>
    <input type="text"
           class="form-control"
           value="{{this.selectedColor}}"
           [style.background]="selectedColor">
  </label>
  <button class="btn btn-outline-dark dropdown-toggle dropdown-btn"
          (click)="clickOnButton()"
          (clickOutside)="clickOutsideButton()"
          type="button"
          data-toggle="dropdown">Colors Palette
    <span class="caret"></span>
  </button>
  <div *ngIf=this.dropdownButtonState id="myDropdown" class="dropdown-content">
    <div *ngFor="let color of this.colorArray">
      <div class="dropdown-item"
           [style.background]="color"
           (click)="chooseColor(color)">{{this.colorArray[color]}}</div>
    </div>
  </div>
</div>
