.dropdown {
  width: 400px;
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 10;
}

.dropdown-item {
  width: 200px;
  padding: 20px 0;
  border: 1px solid transparent;
}

.dropdown-item:hover {
  border: 1px solid black;
}
// span {
//  height: 0px;
//  overflow: hidden;
//  -webkit-transition: all 0.5s ease-in-out;
//  -moz-transition: all 0.5s ease-in-out;
//  -o-transition: all 0.5s ease-in-out;
//  transition: all 0.5s ease-in-out;
//}
//
//span:hover {
//  height: auto;
//}
//span {
//  overflow: hidden;
//  transition: all .3s ease;
//}
//
//span.folded {
//  max-height: 0;
//}
//
//span.unfolded {
//  max-height: 300px; //value of max-height should always bigger than actual sum of all li's height
//}
